{% extends 'base.html' %}
{% block title %} Homepage {% endblock %}

{%  block content %}
        <h1>Buenos dias</h1>
        <h1>Buenos dias</h1>
        <h1>Buenos dias</h1>
        <h1>Buenos dias</h1>
        <h1>Buenos dias</h1>
        <h1>Buenos dias</h1>
        <h1>Buenos dias</h1>
        <h1>Buenos dias</h1>
        <h1>Buenos dias</h1>
        <h1>Buenos dias</h1>
        <h1>Buenos dias</h1>
        <h1>Buenos dias</h1>
        <h1>Buenos dias</h1>
        <h1>Buenos dias</h1>
        <h1>Buenos dias</h1>
{% endblock %}