{% extends 'base.html' %}

{% block title %} Password reset {% endblock %}

{% block content %}
    <div class="container-fluid content-holder">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card text-center">
                    <div class="card-header">
                        <h3 class="card-title">Forgot your password?</h3>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            <p>Please enter your <strong>email</strong> below and we'll send you instructions for setting a new one.</p>
                            {{ form.as_p }}
                        </div>
                        <div class="card-footer">
                            <input type="submit" value="Send me instructions!">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}