{% extends 'base2.html' %}

{% block title %} Lily, Cici, Sissy{% endblock %}


{% block content %}
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="my-5">
                    <div class="p-5 text-center bg-body-tertiary">
                        <div class="container py-5">
                            <h1 class="text-body-emphasis">A STORY OF 
                                THREE PUPPIES</h1>
                            <p class="col-lg-8 mx-auto lead">
                                On the <b>16th of March 2024</b> in the 
                                romanian village of Râmetea, Alba county, 
                                after completing their hike, a couple 
                                discovered three baby puppies abandoned in a 
                                plastic bag. Somebody decided they don't 
                                deserve to live and left them at the 
                                entrance to a guesthouse. This is their story. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="container px-4 py-5" id="custom-cards">
                    <h2 class="pb-2 border-bottom">Meet the "Ladies"</h2>

                    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
                        <div class="col">
                            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                                 style="background-image: url('https://www.purinaproclub.com/sites/default/files/styles/social_share_large/public/2022-05/0182908_DM_June2022_ArticleImage_Listing_0.jpg?itok=6gc9ktEr');">
                                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                                        Sissy</h3>
                                    <ul class="d-flex list-unstyled mt-auto">
                                        <li class="d-flex align-items-center">
                                            <svg class="bi me-2" width="1em"
                                                 height="1em">
                                                <use xlink:href="#calendar3"></use>
                                            </svg>
                                            <small>3d</small>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                                 style="background-image: url('https://www.purinaproclub.com/sites/default/files/styles/social_share_large/public/2022-05/0182908_DM_June2022_ArticleImage_Listing_0.jpg?itok=6gc9ktEr');">
                                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                                        Cici</h3>
                                    <ul class="d-flex list-unstyled mt-auto">
                                        <li class="d-flex align-items-center">
                                            <svg class="bi me-2" width="1em"
                                                 height="1em">
                                                <use xlink:href="#calendar3"></use>
                                            </svg>
                                            <small>4d</small>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                                 style="background-image: url('https://www.purinaproclub.com/sites/default/files/styles/social_share_large/public/2022-05/0182908_DM_June2022_ArticleImage_Listing_0.jpg?itok=6gc9ktEr');">
                                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                                        Lily</h3>
                                    <ul class="d-flex list-unstyled mt-auto">
                                        <li class="d-flex align-items-center">
                                            <svg class="bi me-2" width="1em"
                                                 height="1em">
                                                <use xlink:href="#calendar3"></use>
                                            </svg>
                                            <small>5d</small>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}