{% extends 'base2.html' %}

{% block title %} Lily, Cici, Sissy{% endblock %}


{% block content %}
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="my-5">
                    <div class="p-5 text-center bg-body-tertiary">
                        <div class="container py-5">
                            <h1 class="text-body-emphasis">A STORY OF
                                THREE PUPPIES</h1>
                            <p class="col-lg-8 mx-auto lead">
                                On the <b>16th of March 2024</b> in the
                                romanian village of Râmetea, Alba county,
                                after completing their hike, a couple
                                discovered three newborn puppies abandoned
                                in a plastic bag. Somebody decided they don't
                                deserve to live and left them to die in the
                                cold near the entrance to a guesthouse. This
                                is their story.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="container px-4 py-5" id="custom-cards">
                    <h2 class="pb-2 border-bottom">Meet the "Ladies"</h2>
                    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
                        <div class="col">
                            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                                 style="background-image: url('https://www.purinaproclub.com/sites/default/files/styles/social_share_large/public/2022-05/0182908_DM_June2022_ArticleImage_Listing_0.jpg?itok=6gc9ktEr');">
                                <div class="puphold d-flex flex-column h-100
                                 p-5
                                pb-3 text-white text-shadow-1">
                                    <h4 class="fw-bold pupname">
                                        <u>Sissy</u></h4>
                                </div>
                            </div>
                            <div class="card-header py-3 puppyname">
                                <h4 class="my-0 fw-normal">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="32" height="32"
                                         fill="currentColor" class="bi bi-dot"
                                         viewBox="0 0 16 16">
                                        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                                    </svg>
                                </h4>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card card-cover h-100 
                            overflow-hidden text-bg-dark rounded-4 shadow-lg"
                                 style="background-image: url('https://www.purinaproclub.com/sites/default/files/styles/social_share_large/public/2022-05/0182908_DM_June2022_ArticleImage_Listing_0.jpg?itok=6gc9ktEr');">
                                <div class="puphold d-flex flex-column h-100
                                 p-5
                                pb-3 text-white text-shadow-1">
                                    <h4 class="fw-bold pupname">
                                        <u>Cici</u></h4>
                                </div>
                            </div>
                            <div class="card-header py-3 puppyname">
                                <h4 class="my-0 fw-normal">
                                    <span class="material-symbols-outlined
                                    cici">
                                        Y
                                    </span>
                                </h4>
                            </div>

                        </div>

                        <div class="col">
                            <div class="card card-cover h-100
                            overflow-hidden text-bg-dark rounded-4 shadow-lg"
                                 style="background-image: url('https://www.purinaproclub.com/sites/default/files/styles/social_share_large/public/2022-05/0182908_DM_June2022_ArticleImage_Listing_0.jpg?itok=6gc9ktEr');">
                                <div class="puphold d-flex flex-column h-100
                                p-5 pb-3 text-shadow-1">
                                    <h4 class="fw-bold pupname">
                                        <u>Lily</u></h4>
                                </div>
                            </div>
                            <div class="card-header py-3 puppyname">
                                <h4 class="my-0 fw-normal">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="32" height="32"
                                         fill="currentColor"
                                         class="bi bi-align-top"
                                         viewBox="0 0 16 16">
                                        <rect width="4" height="12" rx="1"
                                              transform="matrix(1 0 0 -1 6 15)"></rect>
                                        <path d="M1.5 2a.5.5 0 0 1 0-1zm13-1a.5.5 0 0 1 0 1zm-13 0h13v1h-13z"/>
                                    </svg>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}