{% extends 'base2.html' %}

{% block title %} Lily, Cici, Sissy{% endblock %}


{% block content %}
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="my-5">
                    <div class="p-5 text-center bg-body-tertiary">
                        <div class="container py-5">
                            <h1 class="text-body-emphasis">A STORY OF
                                THREE PUPPIES</h1>
                            <p class="col-lg-8 mx-auto lead">
                                On the <b>16th of March 2024</b> in the
                                romanian village of Râmetea, Alba county,
                                after completing their hike, a couple
                                discovered three newborn puppies abandoned
                                in a plastic bag. Somebody decided they don't
                                deserve to live and left them to die in the
                                cold near the entrance to a guesthouse. This
                                is their story.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="container px-4 py-5" id="custom-cards">
                    <h2 class="pb-2 border-bottom">Meet the "Ladies"</h2>
                    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
                        <div class="col">
                            <div class="card shadow-lg">
                                <img class="pupimage" alt="puppy"
                                     src="https://www.thesprucepets.com/thmb/TF2Vb-o5yY1whO1Kb-3l35KVUoY=/3664x0/filters:no_upscale():strip_icc()/four-days-old-puppy-95882865-5c758c2cc9e77c00012f80ce.jpg">
                            </div>
                            <div class="card-header py-3 puppyname">
                                <h4 class="my-0 fw-normal">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="32" height="32"
                                         fill="currentColor" class="bi bi-dot"
                                         viewBox="0 0 16 16">
                                        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                                    </svg>
                                </h4>
                                <br>
                                <h4>Sissy</h4>
                                <p>
                                    "Mirror, mirror on the wall, who's the 
                                    cutest of them all?" This regally named 
                                    bundle of joy was also the most 
                                    pretentious. Too low the temperature and
                                    she wouldn't touch that milk bottle. She
                                    has just a little bit of catching up to 
                                    do and gain some weight,
                                </p>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card shadow-lg">
                                <img class="pupimage" alt="puppy"
                                     src="https://www.thesprucepets.com/thmb/TF2Vb-o5yY1whO1Kb-3l35KVUoY=/3664x0/filters:no_upscale():strip_icc()/four-days-old-puppy-95882865-5c758c2cc9e77c00012f80ce.jpg">
                            </div>
                            <div class="card-header py-3 puppyname">
                                <h4 class="my-0 fw-normal">
                                    <span class="material-symbols-outlined
                                    cici">
                                        Y
                                    </span>
                                </h4>
                                <br>
                                <h4>Cici</h4>
                                <p>
                                    "Picture-perfect", textbook behavior from
                                    this tristar marked little princess. 
                                    Definitely food motivated and quite 
                                    happy to sniff the milk bottle.
                                </p>
                            </div>

                        </div>

                        <div class="col">
                            <div class="card shadow-lg">
                                <img class="pupimage" alt="puppy"
                                     src="https://www.thesprucepets.com/thmb/TF2Vb-o5yY1whO1Kb-3l35KVUoY=/3664x0/filters:no_upscale():strip_icc()/four-days-old-puppy-95882865-5c758c2cc9e77c00012f80ce.jpg">
                            </div>
                            <div class="card-header py-3 puppyname">
                                <h4 class="my-0 fw-normal">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="32" height="32"
                                         fill="currentColor"
                                         class="bi bi-align-top"
                                         viewBox="0 0 16 16">
                                        <rect width="4" height="12" rx="1"
                                              transform="matrix(1 0 0 -1 6 15)"></rect>
                                        <path d="M1.5 2a.5.5 0 0 1 0-1zm13-1a.5.5 0 0 1 0 1zm-13 0h13v1h-13z"/>
                                    </svg>
                                </h4>
                                <br>
                                <h4>Lily</h4>
                                <p>The biggest of the three and the most
                                    verocious eater. This little bugger
                                    will start a riot in the litter when its
                                    time to be fed.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}