{% extends 'base.html' %}

{% block title %} Details of Product - {{ product }} {% endblock %}

{% block content %}

    <div class="container-fluid content-holder">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br>
                <div class="card text-center">
                    <div class="card-header">
                        Product Details
                    </div>
                        <div class="card-body">
                            <h5 class="card-title">Category:
                                {{ product.category }}</h5>
                            <p class="card-text"><strong>Manufacturer:
                                {{ product.manufacturer }}</strong></p>
                            <p class="card-text model-border"><strong>Model:
                                {{ product.model_name }}</strong></p>
                            <p class="card-text">Description:
                                {{ product.description }}</p>

                            <div class="carousel-indicators">
                                <button type="button"
                                        data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="0" class="active"
                                        aria-current="true"
                                        aria-label="Slide 1"></button>
                                <button type="button"
                                        data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="1"
                                        aria-label="Slide 2"></button>
                                <button type="button"
                                        data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="2"
                                        aria-label="Slide 3"></button>
                                <button type="button"
                                        data-bs-target="#carouselExampleIndicators"
                                        data-bs-slide-to="3"
                                        aria-label="Slide 4"></button>
                            </div>

                            <div id="carouselExample" class="carousel slide">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{{ product.image.url }}" class="d-block w-100"
                                         alt="image" height="600px" width="auto">
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ product.image_1.url }}" class="d-block w-100"
                                         alt="image 1" height="600px" width="auto">
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ product.image_2.url }}" class="d-block w-100"
                                         alt="image 2" height="600px" width="auto">
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ product.image_3.url }}" class="d-block w-100"
                                         alt="image 3" height="600px" width="auto">
                                </div>
                            </div>

                            <button class="carousel-control-prev"
                                    type="button"
                                    data-bs-target="#carouselExample"
                                    data-bs-slide="prev">
                                <span class="carousel-control-prev-icon"
                                      aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next"
                                    type="button"
                                    data-bs-target="#carouselExample"
                                    data-bs-slide="next">
                                <span class="carousel-control-next-icon"
                                      aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                            <p class="card-text">Price:
                                {{ product.price }} Euro</p>
                            <a href="{% url 'list-of-products' %}" class="btn
                            btn-secondary">Back</a>
                        </div>
                    </div>
                    <div class="card-footer text-body-secondary">
                        Created at: <strong>
                        {{ product.created_at|date:"d-m-Y H:i:s" }}</strong>
                        Updated at: <strong>
                        {{ product.updated_at|date:"d-m-Y H:i:s" }}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}