<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <button type="button"
                            class="btn btn-secondary dropdown-toggle"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Products
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item vcenter" href="#">
                            <span class="material-symbols-outlined">devices</span>
                            <button class="btn btn-link" type="button" >Laptops, tablets, phones</button>
                        </a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item vcenter" href="#">
                            <span class="material-symbols-outlined">stadia_controller</span>
                            <button class="btn btn-link" type="button">Gaming</button>
                        </a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item vcenter" href="#">
                            <span class="material-symbols-outlined">local_laundry_service</span>
                            <button class="btn btn-link" type="button">Cleaning and home improvement</button>
                        </a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item vcenter" href="#">
                            <span class="material-symbols-outlined">hiking</span>
                            <button class="btn btn-link" type="button">Outdoor activities</button>
                        </a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item vcenter" href="#">
                            <span class="material-symbols-outlined">directions_bike</span>
                            <button class="btn btn-link" type="button">Cycling</button>
                        </a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" type="button" class="btn btn-danger">Daily Special Offer</a>
                </li>
                <li>
                    <a href="#" type="button" class="btn btn-secondary">Used but useful</a>
                </li>
            </ul>

            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search"
                       placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search
                </button>
            </form>
            <div class="btn-group" role="group"
                 aria-label="Basic outlined example">
                <button type="button" class="btn btn-secondary vcenter" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Bottom popover" data-bs-trigger="hover focus"><span class="material-symbols-outlined">account_circle</span>My account
                </button>
                <button type="button" class="btn btn-danger vcenter"><span class="material-symbols-outlined">favorite</span>Favorites
                </button>
                <button type="button" class="btn btn-secondary vcenter"><span class="material-symbols-outlined">shopping_cart</span>Cart
                </button>
            </div>
        </div>
    </div>
</nav>