{#<h1>Coșul de Cumpărături</h1>#}
{#<ul>#}
{#{% for cart in cart_products %}#}
{#    <li>{{ cart.product.title }} - {{ cart.product.price }} - {{ cart.quantity }}</li>#}
{#{% empty %}#}
{#    <li>Coșul este gol.</li>#}
{#{% endfor %}#}
{#</ul>#}


{% extends 'base.html' %}

{% load static %}

{% block title %} Cart Items {% endblock %}

{% block content %}

    <div class="container-fluid content-holder">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {{ current_datetime|date:"d-m-Y H:i:s" }}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Product name</th>
                                <th>Image</th>
                                <th>Unit Price</th>
                                <th>Quantity</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cart_product in cart_products %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ cart_product.product.title }}</td>
                                    <td><img src="{{ cart_product.product.image.url }}" alt="prod_image" height="100px" width="auto"></td>
                                    <td>{{ cart_product.product.price }}</td>
                                    <td>{{ cart_product.quantity }}</td>
                                    <td>{{ cart_product.amount}}</td>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><b>Grand Total: </b></td>
                                <td><b>{{ grand_total }}</b></td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>

{% endblock %}
